@model IEnumerable<ProductManagementSystem.Models.COLOUR>

@{
    ViewBag.Title = "Index";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Colours</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">Colours</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <p>
            @Html.ActionLink("Create New Colour", "Create", null, new { @class = "btn btn-success" })
        </p>
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger" id="alert-danger" role="alert">
                @TempData["error"]
            </div>

        }
        else if (TempData["success"] != null)
        {
            <div class="alert alert-success" id="alert-success" role="alert">
                @TempData["success"]
            </div>

        }
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Colours</h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <table class="table  table-hover" id="example3">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.COLOUR_NAME)
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.COLOUR_NAME)
                                    </td>
                                    <td class="btn btn-group">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.COLOUR_ID }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("Details", "Details", new { id = item.COLOUR_ID }, new { @class = "btn btn-info" })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.COLOUR_ID }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <!-- /.row -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer">

                </div>
            </div>




        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>








